*{
    margin: 0;
}
.banner{
    text-align: right;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 508px;
    width: 1600px;
    padding: 200px;
    
}
.banner-title{
    font-size: 65px;
    padding-bottom: 30px;
}
.banner-description{
    font-size: 26px;
    color: #444343;
    padding-bottom: 30px;
}
.banner-btn{
    color: rgb(249, 248, 248);
    background-color: rgb(214, 120, 53);
    width: 160px;
    height: 64px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
/* failure section */
.failure{
    display: flex;
    justify-content: space-around;
    margin-left: 220px;
}
.image{
    padding: 160px 120px 50px;
}
.failure-title{
    /* padding: 230px 620px 100px 50px; */
    padding-top: 400px;
}
.heading{
    font-size: 50px;
    padding-bottom: 25px;
}
.failure-description{
    font-size: 26px;
    padding-bottom: 25px;
    color: #444343;
}
.list{
    font-size: 26px;
    color: #444343;
    list-style: none;
    
}
.mark{
    color: green;
}
/* plan section */
.plan-title{
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
}
.plan-list{
    display: flex;
    justify-content: center;
    padding-top: 90px;
    gap: 160px;
}
.plan-head{
    font-size: 25px;
    padding-top: 25px;
    

}
.plan-des{
    color: #444343;
    padding-top: 15px;
    font-size: 20px;
}
.part-all{
    text-align: center;
}
/* image section */
.image-head{
    font-size: 40px;
    padding: 50px;
    color: rgb(242, 239, 239);
    font-family: sans-serif;
    padding-bottom: 15px;
    
}
.picture{
    background-image: url('../images/gradient2.png'),url('../images/watch.png'),linear-gradient(to right,rgb(77, 38, 14),rgb(65, 42, 42));
    background-blend-mode: ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 1100px;
    margin: 162px 530px 150px 380px;
}
.call-btn{
    font-size: 20px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    color: rgb(93, 48, 9);
    padding: 0px;
    margin-left: 50px;
}
.contact{
    margin-left: 20px;
}
/* footer */
.footer-banner{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
}
.icons{
    display: flex;
    list-style: none;
    gap: 10px;
}
.footer-title{
    padding-top: 80px;
    font-family: sans-serif;
    width: 20px;
    font-size: 40px;
}
.footer-des{
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px;
}
.sub-title{
    font-family: sans-serif;
    width: 20px;
    font-size: 20px;
}
#box{
    height: 54px;
    width: 325px;
    padding-left: 55px;
    font-size: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 30px;
}
.form{
    padding-top: 80px;
}
.footer-btn{
    margin-top: 30px;
    color: rgb(167, 9, 9);
    height: 64px;
    width: 160px;
    border-radius: 5px;
}










